POSTGRES_DB=annap_qr_ordering
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-this-local-or-production-password
STAFF_USER=host
STAFF_PASSWORD=change-this-staff-password
APPLY_MIGRATIONS_ON_STARTUP=true
